@import url('fonts.min.css');

/*Цвета*/
$title-color: #222222;
$accent-color: #f16d7f;
$text-color: #898989;

/*Примеси*/
@mixin Lato($fw: 400, $fz: 14px, $fs: normal) {
	font-family: 'Lato', sans-serif;
	font-size: $fz;
	font-weight: $fw;
	font-style: $fs;
}

/*Базовые настройки*/
*,
*::before,
*::after {
	box-sizing: border-box;
}
.container {
	max-width: 1140px;
	margin: 0 auto;
}
body {
	@include Lato();
}


/*Шапка*/
.header {
	width: 100%;
	padding: 25px 0;
	border-bottom: 1px solid #ececec;

	&__wrap {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	&__inner {
		display: flex;
		align-items: center;
	}

	&__logo {
		margin-right: 35px;
	}

	&__cart {
		margin-right: 25px;

		&__cart-img {
			width: 32px;
			height: 29px;
		}
	}

	&__account-btn {
		display: flex;
		justify-content: space-between;
		background-color: $accent-color;
		min-width: 130px;
		min-height: 38px;
		color: #fff;
		padding: 12px;
		padding-left: 20px;
		letter-spacing: 0.3px;
		text-decoration: none;
		border-radius: 3px;
		transition: .2s;

		&::after {
			display: block;
      content: '\f0d7';
      font-family: 'Font Awesome 5 Free', 'Font Awesome 5 Brands';
      font-weight: 900;
      font-size: 14px;
      margin-left: 8px;
		}

		&:hover {
			background-color: $text-color;
			color: $title-color;
		}
	}
}

.search-form {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	min-height: 38px;
	border: 1px solid #e6e6e6;
	border-radius: 3px;

	&__browse-menu {
		position: relative;

		&[open] .search-form__browse-btn::after {
			content: '\f0da';
		}
	}

	&__browse-btn {
		@include Lato(300);
		display: flex;
		justify-content: space-between;
		letter-spacing: 0.3px;
		color: $title-color;
		text-decoration: none;
		padding: 10px 8px 10px 15px;
		min-height: 36px;
		min-width: 90px;
		background-color: #f8f8f8;
		border: none;
		border-right: 1px solid #e6e6e6;
		transition: .2s;

		&::after {
			display: block;
      content: '\f0d7';
      font-family: 'Font Awesome 5 Free', 'Font Awesome 5 Brands';
      font-weight: 900;
      font-size: 14px;
      margin-left: 8px;
		}

		&::-webkit-details-marker {
			display: none;
		}

		&:hover {
			background-color: $accent-color;
			color: #fff;
			cursor: pointer;
		}

		&:focus {
			outline: none;
		}

		&:active {
			background-color: $text-color;
			color: $title-color;
		}
	}

	&__list-wrap {
		position: absolute;
		left: 0;
		bottom: 0;
		transform: translateY(100%);
		padding: 20px 15px;
		background-color: #fff;
		min-width: 262px;
		z-index: 10;

		&:hover {
			box-shadow: 0px 5px 8px 0px rgba(0,0,0,0.15);
		}

		&::before {
			position: absolute;
			display: block;
			content: "";
			width: 16px;
			height: 14px;
			top: -14px;
			left: 65px;
			border-left: 8px solid transparent;
			border-right: 8px solid transparent;
			border-top: 7px solid transparent;
			border-bottom: 7px solid #fff;
		}
	}

	&__menu-list:not(:last-child) {
		margin-top: 5px;
		margin-bottom: 20px;
	}

	&__menu-title {
		text-transform: uppercase;
		letter-spacing: 0.3px;
		color: $title-color;
		padding-bottom: 10px;
		border-bottom: 1px solid #e8e8e8;
	}

	&__menu-link {
		display: block;
		padding: 7px;
		letter-spacing: 0.3px;
		color: $title-color;
		text-decoration: none;
		transition: .2s;

		&:hover {
			background-color: $accent-color;
			color: #fff;
		}

		&:active {
			background-color: $text-color;
			color: $title-color;
		}
	}

	&__input-query {
		@include Lato(300);
		letter-spacing: 0.3px;
		padding: 10px 15px;
		min-width: 315px;
		min-height: 36px;
		background-color: #ffffff;
		border: none;
		border-right: 1px solid #e6e6e6;

		&::placeholder {
			color: $title-color;
			opacity: 0.67;
		}

		&:focus {
			outline: none;
			box-shadow: inset 0 0 3px #000;
		}
	}

	&__search-btn {
		display: flex;
		justify-content: center;
		align-items: center;
		padding: 10px 12px;
		background-color: #f8f8f8;
		color: $text-color;
		border: none;
		height: 36px;
		cursor: pointer;
		transition: .2s;

		&:hover {
			background-color: $accent-color;
			color: #fff;
		}
	}
}


/*Блок main-nav*/
.main-nav {
	width: 100%;

	&__wrap {
		display: flex;
		justify-content: center;
		align-items: center;
	}

	&__list {
		display: flex;
		list-style-type: none;
	}

	&__link {
		@include Lato(700);
		position: relative;
		display: inline-block;
		padding: 20px;
		color: $title-color;
		text-decoration: none;
		text-transform: uppercase;

		&::after {
			position: absolute;
			display: block;
			content: "";
			bottom: 0;
			left: 50%;
			transform: translateX(-50%);
			width: 0;
			height: 3px;
			background-color: $title-color;
			opacity: 0;
			transition: .2s;
		}

		&:hover::after {
			width: 100%;
			opacity: 1;
		}

		&--active {
			pointer-events: none;
			color: $text-color;

			&::after {
				width: 100%;
				background-color: $accent-color;
				opacity: 1;
			}
		}
	}
}


/*Блок main-slider*/
.main-slider {
	width: 100%;
	min-height: 665px;
	background-color: $text-color;
	background-image: url('../img/slider/slider_bg.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	padding-top: 225px;

	&__title {
		@include Lato(900, 40px);
		position: relative;
		letter-spacing: 0.025em;
		color: $title-color;
		padding-left: 25px;

		&--lg {
			font-size: 60px;
		}

		&--accent {
			color: $accent-color;
		}

		&::before {
			position: absolute;
			display: block;
			content: "";
			background-color: $accent-color;
			width: 12px;
			height: 92px;
			left: 0;
			bottom: 0;
		}
	}
}


/*Блок Category*/
.category {
	width: 100%;
	padding: 100px 0;

	&__wrap {
		display: flex;
		justify-content: space-between;
	}

	&__inner {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
	}

	&__item {
		transition: .2s;

		&:hover {
			box-shadow: 0px 5px 8px 0px rgba(0,0,0,0.15);
		}

		&:not(:last-child) {
			margin-bottom: 20px;
		}
	}

	&__link {
		position: relative;
		display: block;
		background-color: $text-color;
		background-repeat: no-repeat;
		background-size: cover;
		min-width: 560px;

		&-1 {
			background-image: url('../img/category/category_1.jpg');
			min-height: 542px;
		}
		&-2 {
			background-image: url('../img/category/category_2.jpg');
			min-height: 261px;
		}
		&-3 {
			background-image: url('../img/category/category_3.jpg');
			min-height: 261px;
		}
		&-4 {
			background-image: url('../img/category/category_4.jpg');
			min-height: 542px;
		}
	}

	&__title-wrap {
		position: absolute;
		top: 25px;
		left: 0;
		background-color: #fff;
		padding: 15px 20px;
		text-transform: uppercase;
	}

	&__suptitle {
		@include Lato(900, 18px);
		display: inline-block;
		letter-spacing: 0.025em;
		color: $title-color;
		margin-bottom: 5px;
	}

	&__title {
		@include Lato(900, 30px);
		letter-spacing: 0.025em;
		color: $accent-color;
	}
}


/*Блок product*/
.product {
	width: 100%;

	&__wrap {
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	&__title {
		@include Lato(700, 30px);
		letter-spacing: 0.3px;
		color: $title-color;
		margin-bottom: 10px;
	}

	&__desc {
		letter-spacing: 0.3px;
		color: $text-color;
		margin-bottom: 60px;
	}

	&__list {
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
	}

	&__item {
		min-width: 263px;

		&:hover {
			box-shadow: 0px 5px 8px 0px rgba(0,0,0,0.15);

			& .product__rate {
				opacity: 1;
			}
		}

		&:not(:nth-child(4n)) {
			margin-right: 29px;
		}

		&:not(:nth-last-child(4)) {
			margin-bottom: 30px;
		}
	}

	&__photo {
		position: relative;
		width: 100%;
		min-height: 281px;
		background-repeat: no-repeat;
		background-size: cover;

		&-1 {
			background-image: url('../img/product/product_item_1.jpg');
		}
		&-2 {
			background-image: url('../img/product/product_item_2.jpg');
		}
		&-3 {
			background-image: url('../img/product/product_item_3.jpg');
		}
		&-4 {
			background-image: url('../img/product/product_item_4.jpg');
		}
		&-5 {
			background-image: url('../img/product/product_item_5.jpg');
		}
		&-6 {
			background-image: url('../img/product/product_item_6.jpg');
		}
		&-7 {
			background-image: url('../img/product/product_item_7.jpg');
		}
		&-8 {
			background-image: url('../img/product/product_item_8.jpg');
		}
	}

	&__overflow {
		position: absolute;
		width: 100%;
		height: 100%;
		background-color: rgba(58,56,56,0.83);
		opacity: 0;
		transition: .2s;

		&:hover {
			opacity: 1;
		}
	}

	&__cart-link {
		@include Lato(700, 13px);
		position: absolute;
		display: flex;
		align-items: center;
		left: 50%;
		transform: translateX(-50%);
		top: 100px;
		color: #ffffff;
		padding: 10px;
		text-decoration: none;
		vertical-align: middle;
		border: 1px solid #fff;
		transition: .2s;

		&:hover {
			background-color: #fff;
			color: $title-color;
		}
	}

	&__cart-icon {
		width: 23px;
		height: 22px;
		margin-right: 8px;
	}

	&__text-wrap {
		padding: 20px 15px;
	}

	&__name {
		@include Lato(400, 13px);
		display: inline-block;
		text-transform: uppercase;
		color: $title-color;
		margin-bottom: 15px;
		text-decoration: none;

		&:hover {
			text-decoration: underline;
		}
	}

	&__price-wrap {
		display: flex;
		justify-content: space-between;
	}

	&__price {
		@include Lato(700, 16px);
		text-transform: uppercase;
		color: $accent-color;
	}

	&__rate {
		font-size: 15px;
		color: #e4af48;
		letter-spacing: -3px;
		opacity: 0;
		transition: .2s;
	}

	&__all-link-btn {
		@include Lato(700, 16px);
		display: flex;
		justify-content: space-between;
		padding: 15px 25px;
		min-width: 210px;
		margin-top: 60px;
		background-color: $accent-color;
		letter-spacing: 0.3px;
		text-decoration: none;
		color: #ffffff;
		transition: .2s;

		&::after {
			display: block;
      content: '\f30b';
      font-family: 'Font Awesome 5 Free', 'Font Awesome 5 Brands';
      font-weight: 900;
      font-size: 14px;
      margin-left: 8px;
		}

		&:hover {
			background-color: $text-color;
			color: $title-color;
		}
	}
}


/*блок feature*/
.feature {
	width: 100%;
	padding: 100px 0;

	&__wrap {
		display: flex;
		justify-content: space-between;
	}

	&__bg {
		min-width: 767px;
		max-height: 529px;
		background-image: url('../img/feature/feature_bg_overflow.png'),
		                  url('../img/feature/feature_bg.jpg');
		background-repeat: no-repeat;
		background-size: cover;
		padding: 145px 40px;
	}

	&__link	{
		text-decoration: none;

		&:hover {
			text-decoration: underline;
			text-decoration-color: #fff;
		}
	}

	&__title {
		@include Lato(700, 32px);
		line-height: 1.2;
		letter-spacing: 0.3px;
		color: #ffffff;

		&--lg {
			font-size: 53px;
		}

		&--accent {
			color: $accent-color;
		}
	}

	&__list {
		max-width: 373px;
		background-color: $title-color;
		padding: 45px 40px 65px 35px;
		color: #fff;
	}

	&__item {
		display: flex;
		justify-content: space-between;
		align-items: flex-start;

		&:not(:last-child) {
			margin-bottom: 30px;
		}
	}

	&__item-icon {
		margin-right: 33px;
	}

	&__item-text {
		padding-top: 7px;
		max-width: 275px;
	}

	&__name {
		@include Lato(700, 20px);
		margin-bottom: 15px;
	}

	&__desc {
		@include Lato(300);
		line-height: 20px;
		letter-spacing: 0.3px;
	}
}


/*блок subscribe*/
.subscribe {
	width: 100%;
	min-height: 438px;
	background: linear-gradient(to bottom, rgba(242,242,242,0.5), rgba(242,242,242,0.5)),
	            url('../img/subscribe/subscribe_bg.jpg') left bottom;
	background-repeat: no-repeat;
	background-size: cover;

	&__wrap {
		display: flex;
	}

	&__comment-wrap {
		width: 50%;
		height: 100%;
		padding-top: 110px;
		padding-right: 72px;
		border-right: 1px solid #fff;
	}

	&__email-wrap {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		width: 50%;
	}

	&__title {
		@include Lato(400, 24px);
		text-transform: uppercase;
		letter-spacing: 0.3px;
		color: $title-color;
		margin-bottom: 10px;
	}

	&__subtitle {
		font-size: 14px;
		margin-bottom: 35px;
	}

	&__form {
		display: flex;
		min-height: 46px;
		min-width: 385px;
	}

	&__email {
		min-width: 280px;
		min-height: 46px;
		background-color: #e1e1e1;
		border-radius: 23px 0 0 23px;
		padding: 15px 25px;
		border: none;

		&::placeholder {
			letter-spacing: 0.3px;
			color: $title-color;
			opacity: 0.67;
		}

		&:focus {
			outline: none;
			box-shadow: inset 0 0 3px #000;
		}
	}

	&__btn {
		min-height: 46px;
		padding: 15px 20px;
		background-color: $accent-color;
		letter-spacing: 0.3px;
		border: none;
		color: #fff;
		border-radius: 0px 23px 23px 0px;
		transition: .2s;

		&:hover {
			background-color: $text-color;
			color: $title-color;
			cursor: pointer;
		}
	}
}

.comment-slider {
	&__item {
		display: flex;
		justify-content: space-between;
	}

	&__photo {
		width: 83px;
		height: 83px;
		border-radius: 50%;
		margin-right: 30px;
	}

	&__bq {
		@include Lato(400, 16px, italic);
		line-height: 26px;
		letter-spacing: 0.3px;
		color: $title-color;
		padding-top: 12px;
	}

	&__source {
		@include Lato(300, 12px);
		display: block;
		margin-top: 20px;
		letter-spacing: 0.3px;
		color: $title-color;
	}

	&__name {
		@include Lato(700, 16px);
		color: $accent-color;
	}

	&__pages {
		display: flex;
	}

	&__btn {
		display: block;
		width: 38px;
		height: 4px;
		background-color: $text-color;
		margin-top: 40px;

		&:not(:last-child) {
			margin-right: 13px;
		}

		&--active {
			background-color: $accent-color;
		}
	}
}


/*блок footer*/
.footer {
	width: 100%;
}

.about {
	width: 100%;
	padding-top: 110px;
	padding-bottom: 90px;

	&__wrap {
		display: flex;
		justify-content: space-between;
	}

	&__desc {
		max-width: 430px;
	}

	&__logo-link {
		display: inline-block;
		margin-bottom: 30px;
	}

	&__desc-text {
		@include Lato(300);
		line-height: 24px;
		letter-spacing: 0.3px;
		color: $text-color;

		&:not(:last-child) {
			margin-bottom: 20px;
		}
	}

	&__title {
		@include Lato(700, 18px);
		letter-spacing: 0.3px;
		color: $accent-color;
		margin-bottom: 45px;
	}

	&__item:not(:last-child) {
		margin-bottom: 5px;
	}

	&__link {
		@include Lato(400, 16px);
		display: block;
		letter-spacing: 0.3px;
		color: $text-color;
		text-decoration: none;
		padding: 10px;
		transition: .2s;

		&:hover {
			background-color: $accent-color;
			color: #fff;
		}

		&:active {
			background-color: $text-color;
			color: $title-color;
		}
	}
}

.copy {
	width: 100%;
	padding: 25px 0;
	background-color: #e6e6e6;

	&__wrap {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	&__text {
		@include Lato(400, 16px);
		letter-spacing: 0.3px;
		color: $text-color;
	}
}

.social {
	&__wrap {
		display: flex;
	}

	&__item:not(:last-child) {
		margin-right: 8px;
	}

	&__link {
		display: flex;
		justify-content: center;
		align-items: center;
		color: $text-color;
		background-color: #fff;
		font-size: 16px;
		width: 32px;
		height: 32px;
		text-decoration: none;
		transition: .2s;

		&:hover {
			background-color: $accent-color;
			color: #fff;
		}

		&:active {
			opacity: .3;
		}
	}
}



/*Страница product*/
/*Блок product-feature*/
.product-feature {
	width: 100%;
	background-color: $title-color;
	padding-top: 90px;
	padding-bottom: 110px;

	&__list {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	&__item {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		max-width: 360px;
	}

	&__item-icon {
		margin-bottom: 30px;
	}

	&__item-text {
		text-align: center;
	}

	&__name {
		@include Lato(700, 20px);
		letter-spacing: 0.3px;
		color: #fff;
		margin-bottom: 15px;
	}

	&__desc {
		@include Lato(300);
		line-height: 24px;
		letter-spacing: 0.3px;
		color: #fff;
	}
}


/*блок breadcrumbs*/
.breadcrumbs {
	width: 100%;
	padding: 65px 0;
	background-color: #f8f3f4;

	&__wrap {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	&__title {
		@include Lato(900, 24px);
		text-transform: uppercase;
		color: $accent-color;
	}

	&__list {
		display: flex;
	}

	&__link {
		@include Lato(300);
		text-transform: uppercase;
		color: $title-color;
		text-decoration: none;
		padding-left: 5px;

		&:hover {
			color: $accent-color;
			text-decoration: underline;
		}
	}

	&__item {
		&:not(:last-child)::after {
			display: inline-block;
			content: '/';
		}

		&:last-child .breadcrumbs__link {
			font-weight: 700;
			color: $accent-color;
			pointer-events: none;
		}
	}
}